<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<body>

<h1>${{ balance }}</h1>
<h3>Personal Ledger</h3>

      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Recipient</th>
               <th>Amount</th>
            </tr>
         </thead>

         <tbody>
            {% for charge in charges %}
               <tr class="charge">
                  <td>{{ charge.sender }}</td>
                  <td>{{ charge.recipient }}</td>
                  <td>{{ charge.amount }}</td>
                   <td><a href="/invoice/{{charge.id}}">Update</a></td>
                   <td><a href="/delete/{{charge.id}}">Delete</a></td>
               </tr>
            {% endfor %}

            <td><a href="{{ url_for('invoice', id = -99)}}">Add an Invoice</a></td>
            <tr class="empty"></tr>

         {% for charge in bills %}
               <tr class="bill">
                  <td>{{ charge.sender }}</td>
                  <td>{{ charge.recipient }}</td>
                  <td>{{ charge.amount }}</td>
                   <td><a href="{{ url_for('pay', id = charge.id)}}">Pay</a></td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

</body>
{% endblock %}
</html>